#title-container{
  padding-top: 25px;
}
label{
  display:block;
  margin-top: 8px;
}

input{
  width: 200px;
}

select{
  width: 150px;
}

.btn[type="submit"]{
  margin-top: 15px;
}

#form_text{
  margin-top: 25px;
}

#choose_cable{
  width: 200px;
  display: inline-block;
}
