{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset="utf-8" />
  <Title>{% block title %} {% endblock %}</Title>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/> -->
  <link rel="stylesheet" href="{% static 'calculations/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'style.css' %}" type = "text/css">
  <meta name = "viewport" content = "width = device-width,initial-scale=1"/>
</head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'welcome' %}">Cable Sizing Calculator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new_cable' %}">New Cable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'details' %}">My Cables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calculate' %}">Calculate</a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>

  <div class="container" id="title-container">
    {% block body %} {% endblock %} <!-- called template inheritance -->
    </div>

  </body>
</html>
